body{
    background-color: black;
    font-family:handjet,cursive;
}
h1{
    text-align: center;
    color: white;
    font-size: 60px;
    letter-spacing: 7px;
}

hr{
    height: 5px;
    background-color: white;
}
#score{
    height: 80px;
    width: 200px;
    background-color: white;
    margin:auto;
    position: relative;
    bottom: 50px;
    font-size: 50px;
    font-weight: 900;
    font-family: monospace;
    text-align: center;
}

.number{
    height: 100px;
    width: 180px;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: monospace;
    font-weight: 900;
}
.number:focus{
    outline-color: white;
}

.myButton{
    display: block;
    margin-top: 20px;
    height: 60px;
    width: 150px;
    background-color: white;
    border-color: white;
    border-style: solid;
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: monospace;
    font-weight: 900;
    margin-left: 17px;
}

.myButton:active{
    border: 6px solid blue;
}
